libtool
Makefile
include/Makefile
include/libxml/Makefile
autom4te.cache
doc/examples/.deps
doc/examples/Makefile
example/Makefile
example/.deps
.deps
config.h
config.h.in
libtool
stamp-h1
python/.deps
python/Makefile
python/tests/Makefile
xstc/Makefile
config.h.in~
config.log
config.status
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2-config.cmake
xml2-config

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
